/Proyecto 1/CppApplication_1/build/
/Proyecto 1/CppApplication_1/dist/
/Proyecto2/CppApplication_1/dist/
/Proyecto2/CppApplication_1/build/
/Proyecto2/Proyecto2/build/
/Proyecto2/Proyecto2/dist/
/Proyecto2/Proyecto2/Proyecto2.aux
/Proyecto2/Proyecto2/Proyecto2.bcf
/Proyecto2/Proyecto2/Proyecto2.log
/Proyecto2/Proyecto2/Proyecto2.nav
/Proyecto2/Proyecto2/Proyecto2.out
/Proyecto2/Proyecto2/Proyecto2.run.xml
/Proyecto2/Proyecto2/Proyecto2.snm
/Proyecto2/Proyecto2/Proyecto2.toc
